.blogs {
    display: grid;
    /*-------------filas--------------columnas*/
    grid-template: 100px repeat(2,200px)/ repeat(3, 1fr);
    grid-gap: 5px;
}

.h1:nth-of-type(1){
    background:linear-gradient(to left, #fe344e, #ff7250);
    grid-column: 1 / span 3;
    border-radius: 50px 10px 50px 10px;
    text-align: center;
    color: #fafafa;
    font-size: 60px;
    font-family: 'Indie Flower', cursive;
}

.

